/* Border-radius utilities  */

/* .rounded-* */
.rounded               { border-radius: 0.25rem; }
.rounded-xs            { border-radius: 0.125rem; }
.rounded-sm            { border-radius: 0.25rem; }
.rounded-md            { border-radius: 0.375rem; }
.rounded-lg            { border-radius: 0.5rem; }
.rounded-xl            { border-radius: 0.75rem; }
.rounded-2xl           { border-radius: 1rem; }
.rounded-3xl           { border-radius: 1.5rem; }
.rounded-4xl           { border-radius: 2rem; }
.rounded-none          { border-radius: 0; }
.rounded-full          { border-radius: calc(infinity * 1px); }

/* .rounded-s-* */
.rounded-s             { border-start-start-radius: 0.25rem; border-end-start-radius: 0.25rem; }
.rounded-s-xs          { border-start-start-radius: 0.125rem; border-end-start-radius: 0.125rem; }
.rounded-s-sm          { border-start-start-radius: 0.25rem; border-end-start-radius: 0.25rem; }
.rounded-s-md          { border-start-start-radius: 0.375rem; border-end-start-radius: 0.375rem; }
.rounded-s-lg          { border-start-start-radius: 0.5rem; border-end-start-radius: 0.5rem; }
.rounded-s-xl          { border-start-start-radius: 0.75rem; border-end-start-radius: 0.75rem; }
.rounded-s-2xl         { border-start-start-radius: 1rem; border-end-start-radius: 1rem; }
.rounded-s-3xl         { border-start-start-radius: 1.5rem; border-end-start-radius: 1.5rem; }
.rounded-s-4xl         { border-start-start-radius: 2rem; border-end-start-radius: 2rem; }
.rounded-s-none        { border-start-start-radius: 0; border-end-start-radius: 0; }
.rounded-s-full        { border-start-start-radius: calc(infinity * 1px); border-end-start-radius: calc(infinity * 1px); }

/* .rounded-e-* */
.rounded-e             { border-start-end-radius: 0.25rem; border-end-end-radius: 0.25rem; }
.rounded-e-xs          { border-start-end-radius: 0.125rem; border-end-end-radius: 0.125rem; }
.rounded-e-sm          { border-start-end-radius: 0.25rem; border-end-end-radius: 0.25rem; }
.rounded-e-md          { border-start-end-radius: 0.375rem; border-end-end-radius: 0.375rem; }
.rounded-e-lg          { border-start-end-radius: 0.5rem; border-end-end-radius: 0.5rem; }
.rounded-e-xl          { border-start-end-radius: 0.75rem; border-end-end-radius: 0.75rem; }
.rounded-e-2xl         { border-start-end-radius: 1rem; border-end-end-radius: 1rem; }
.rounded-e-3xl         { border-start-end-radius: 1.5rem; border-end-end-radius: 1.5rem; }
.rounded-e-4xl         { border-start-end-radius: 2rem; border-end-end-radius: 2rem; }
.rounded-e-none        { border-start-end-radius: 0; border-end-end-radius: 0; }
.rounded-e-full        { border-start-end-radius: calc(infinity * 1px); border-end-end-radius: calc(infinity * 1px); }

/* .rounded-t-* */
.rounded-t             { border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; }
.rounded-t-xs          { border-top-left-radius: 0.125rem; border-top-right-radius: 0.125rem; }
.rounded-t-sm          { border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; }
.rounded-t-md          { border-top-left-radius: 0.375rem; border-top-right-radius: 0.375rem; }
.rounded-t-lg          { border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem; }
.rounded-t-xl          { border-top-left-radius: 0.75rem; border-top-right-radius: 0.75rem; }
.rounded-t-2xl         { border-top-left-radius: 1rem; border-top-right-radius: 1rem; }
.rounded-t-3xl         { border-top-left-radius: 1.5rem; border-top-right-radius: 1.5rem; }
.rounded-t-4xl         { border-top-left-radius: 2rem; border-top-right-radius: 2rem; }
.rounded-t-none        { border-top-left-radius: 0; border-top-right-radius: 0; }
.rounded-t-full        { border-top-left-radius: calc(infinity * 1px); border-top-right-radius: calc(infinity * 1px); }

/* .rounded-r-* */
.rounded-r             { border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem; }
.rounded-r-xs          { border-top-right-radius: 0.125rem; border-bottom-right-radius: 0.125rem; }
.rounded-r-sm          { border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem; }
.rounded-r-md          { border-top-right-radius: 0.375rem; border-bottom-right-radius: 0.375rem; }
.rounded-r-lg          { border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem; }
.rounded-r-xl          { border-top-right-radius: 0.75rem; border-bottom-right-radius: 0.75rem; }
.rounded-r-2xl         { border-top-right-radius: 1rem; border-bottom-right-radius: 1rem; }
.rounded-r-3xl         { border-top-right-radius: 1.5rem; border-bottom-right-radius: 1.5rem; }
.rounded-r-4xl         { border-top-right-radius: 2rem; border-bottom-right-radius: 2rem; }
.rounded-r-none        { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.rounded-r-full        { border-top-right-radius: calc(infinity * 1px); border-bottom-right-radius: calc(infinity * 1px); }

/* .rounded-b-* */
.rounded-b             { border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }
.rounded-b-xs          { border-bottom-right-radius: 0.125rem; border-bottom-left-radius: 0.125rem; }
.rounded-b-sm          { border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }
.rounded-b-md          { border-bottom-right-radius: 0.375rem; border-bottom-left-radius: 0.375rem; }
.rounded-b-lg          { border-bottom-right-radius: 0.5rem; border-bottom-left-radius: 0.5rem; }
.rounded-b-xl          { border-bottom-right-radius: 0.75rem; border-bottom-left-radius: 0.75rem; }
.rounded-b-2xl         { border-bottom-right-radius: 1rem; border-bottom-left-radius: 1rem; }
.rounded-b-3xl         { border-bottom-right-radius: 1.5rem; border-bottom-left-radius: 1.5rem; }
.rounded-b-4xl         { border-bottom-right-radius: 2rem; border-bottom-left-radius: 2rem; }
.rounded-b-none        { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.rounded-b-full        { border-bottom-right-radius: calc(infinity * 1px); border-bottom-left-radius: calc(infinity * 1px); }

/* .rounded-l-* */
.rounded-l             { border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }
.rounded-l-xs          { border-top-left-radius: 0.125rem; border-bottom-left-radius: 0.125rem; }
.rounded-l-sm          { border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }
.rounded-l-md          { border-top-left-radius: 0.375rem; border-bottom-left-radius: 0.375rem; }
.rounded-l-lg          { border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem; }
.rounded-l-xl          { border-top-left-radius: 0.75rem; border-bottom-left-radius: 0.75rem; }
.rounded-l-2xl         { border-top-left-radius: 1rem; border-bottom-left-radius: 1rem; }
.rounded-l-3xl         { border-top-left-radius: 1.5rem; border-bottom-left-radius: 1.5rem; }
.rounded-l-4xl         { border-top-left-radius: 2rem; border-bottom-left-radius: 2rem; }
.rounded-l-none        { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.rounded-l-full        { border-top-left-radius: calc(infinity * 1px); border-bottom-left-radius: calc(infinity * 1px); }

/* .rounded-ss-* */
.rounded-ss            { border-start-start-radius: 0.25rem; }
.rounded-ss-xs         { border-start-start-radius: 0.125rem; }
.rounded-ss-sm         { border-start-start-radius: 0.25rem; }
.rounded-ss-md         { border-start-start-radius: 0.375rem; }
.rounded-ss-lg         { border-start-start-radius: 0.5rem; }
.rounded-ss-xl         { border-start-start-radius: 0.75rem; }
.rounded-ss-2xl        { border-start-start-radius: 1rem; }
.rounded-ss-3xl        { border-start-start-radius: 1.5rem; }
.rounded-ss-4xl        { border-start-start-radius: 2rem; }
.rounded-ss-none       { border-start-start-radius: 0; }
.rounded-ss-full       { border-start-start-radius: calc(infinity * 1px); }

/* .rounded-se-* */
.rounded-se            { border-start-end-radius: 0.25rem; }
.rounded-se-xs         { border-start-end-radius: 0.125rem; }
.rounded-se-sm         { border-start-end-radius: 0.25rem; }
.rounded-se-md         { border-start-end-radius: 0.375rem; }
.rounded-se-lg         { border-start-end-radius: 0.5rem; }
.rounded-se-xl         { border-start-end-radius: 0.75rem; }
.rounded-se-2xl        { border-start-end-radius: 1rem; }
.rounded-se-3xl        { border-start-end-radius: 1.5rem; }
.rounded-se-4xl        { border-start-end-radius: 2rem; }
.rounded-se-none       { border-start-end-radius: 0; }
.rounded-se-full       { border-start-end-radius: calc(infinity * 1px); }

/* .rounded-ee-* */
.rounded-ee            { border-end-end-radius: 0.25rem; }
.rounded-ee-xs         { border-end-end-radius: 0.125rem; }
.rounded-ee-sm         { border-end-end-radius: 0.25rem; }
.rounded-ee-md         { border-end-end-radius: 0.375rem; }
.rounded-ee-lg         { border-end-end-radius: 0.5rem; }
.rounded-ee-xl         { border-end-end-radius: 0.75rem; }
.rounded-ee-2xl        { border-end-end-radius: 1rem; }
.rounded-ee-3xl        { border-end-end-radius: 1.5rem; }
.rounded-ee-4xl        { border-end-end-radius: 2rem; }
.rounded-ee-none       { border-end-end-radius: 0; }
.rounded-ee-full       { border-end-end-radius: calc(infinity * 1px); }

/* .rounded-es-* */
.rounded-es            { border-end-start-radius: 0.25rem; }
.rounded-es-xs         { border-end-start-radius: 0.125rem; }
.rounded-es-sm         { border-end-start-radius: 0.25rem; }
.rounded-es-md         { border-end-start-radius: 0.375rem; }
.rounded-es-lg         { border-end-start-radius: 0.5rem; }
.rounded-es-xl         { border-end-start-radius: 0.75rem; }
.rounded-es-2xl        { border-end-start-radius: 1rem; }
.rounded-es-3xl        { border-end-start-radius: 1.5rem; }
.rounded-es-4xl        { border-end-start-radius: 2rem; }
.rounded-es-none       { border-end-start-radius: 0; }
.rounded-es-full       { border-end-start-radius: calc(infinity * 1px); }

/* .rounded-tl-* */
.rounded-tl            { border-top-left-radius: 0.25rem; }
.rounded-tl-xs         { border-top-left-radius: 0.125rem; }
.rounded-tl-sm         { border-top-left-radius: 0.25rem; }
.rounded-tl-md         { border-top-left-radius: 0.375rem; }
.rounded-tl-lg         { border-top-left-radius: 0.5rem; }
.rounded-tl-xl         { border-top-left-radius: 0.75rem; }
.rounded-tl-2xl        { border-top-left-radius: 1rem; }
.rounded-tl-3xl        { border-top-left-radius: 1.5rem; }
.rounded-tl-4xl        { border-top-left-radius: 2rem; }
.rounded-tl-none       { border-top-left-radius: 0; }
.rounded-tl-full       { border-top-left-radius: calc(infinity * 1px); }

/* .rounded-tr-* */
.rounded-tr            { border-top-right-radius: 0.25rem; }
.rounded-tr-xs         { border-top-right-radius: 0.125rem; }
.rounded-tr-sm         { border-top-right-radius: 0.25rem; }
.rounded-tr-md         { border-top-right-radius: 0.375rem; }
.rounded-tr-lg         { border-top-right-radius: 0.5rem; }
.rounded-tr-xl         { border-top-right-radius: 0.75rem; }
.rounded-tr-2xl        { border-top-right-radius: 1rem; }
.rounded-tr-3xl        { border-top-right-radius: 1.5rem; }
.rounded-tr-4xl        { border-top-right-radius: 2rem; }
.rounded-tr-none       { border-top-right-radius: 0; }
.rounded-tr-full       { border-top-right-radius: calc(infinity * 1px); }

/* .rounded-br-* */
.rounded-br            { border-bottom-right-radius: 0.25rem; }
.rounded-br-xs         { border-bottom-right-radius: 0.125rem; }
.rounded-br-sm         { border-bottom-right-radius: 0.25rem; }
.rounded-br-md         { border-bottom-right-radius: 0.375rem; }
.rounded-br-lg         { border-bottom-right-radius: 0.5rem; }
.rounded-br-xl         { border-bottom-right-radius: 0.75rem; }
.rounded-br-2xl        { border-bottom-right-radius: 1rem; }
.rounded-br-3xl        { border-bottom-right-radius: 1.5rem; }
.rounded-br-4xl        { border-bottom-right-radius: 2rem; }
.rounded-br-none       { border-bottom-right-radius: 0; }
.rounded-br-full       { border-bottom-right-radius: calc(infinity * 1px); }

/* .rounded-bl-* */
.rounded-bl            { border-bottom-left-radius: 0.25rem; }
.rounded-bl-xs         { border-bottom-left-radius: 0.125rem; }
.rounded-bl-sm         { border-bottom-left-radius: 0.25rem; }
.rounded-bl-md         { border-bottom-left-radius: 0.375rem; }
.rounded-bl-lg         { border-bottom-left-radius: 0.5rem; }
.rounded-bl-xl         { border-bottom-left-radius: 0.75rem; }
.rounded-bl-2xl        { border-bottom-left-radius: 1rem; }
.rounded-bl-3xl        { border-bottom-left-radius: 1.5rem; }
.rounded-bl-4xl        { border-bottom-left-radius: 2rem; }
.rounded-bl-none       { border-bottom-left-radius: 0; }
.rounded-bl-full       { border-bottom-left-radius: calc(infinity * 1px); }
